Workflow et MCP/Workflow principaux/WIDIP_Human_Validation_v1.json
{
  "name": "WIDIP_Human_Validation_v1",
  "nodes": [
    {
      "parameters": {
        "content": "## WIDIP Human Validation v1\n\n### Interface Phibee - Validation Humaine\n\nCe workflow gère l'interface de validation humaine pour les opérateurs.\n\n**Fonctionnalités:**\n1. Dashboard des validations en attente\n2. Notifications Teams enrichies avec contexte\n3. Interface web de validation détaillée\n4. Audit trail des décisions humaines\n\n**Intégration avec SAFEGUARD:**\n- Complète WIDIP_Safeguard_v2\n- Utilise les mêmes tables PostgreSQL\n- Notifications Teams (pas Slack)\n\n**Actions L3 nécessitant validation:**\n- `ad_reset_password`\n- `ad_disable_account`\n- `ad_copy_groups_from`\n- `glpi_close_ticket`",
        "height": 480,
        "width": 350,
        "color": 6
      },
      "id": "note-human-validation",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "human/dashboard",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-dashboard",
      "name": "Webhook: Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 200],
      "webhookId": "human-validation-dashboard-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  spa.approval_id,\n  spa.tool_name,\n  spa.security_level,\n  spa.arguments,\n  spa.requester_workflow,\n  spa.requester_ip,\n  spa.status,\n  spa.created_at,\n  spa.expires_at,\n  spa.approver,\n  spa.decided_at,\n  spa.approval_reason,\n  EXTRACT(EPOCH FROM (spa.expires_at - NOW())) / 60 as minutes_remaining,\n  CASE \n    WHEN spa.status = 'pending' AND spa.expires_at > NOW() THEN 'active'\n    WHEN spa.status = 'pending' AND spa.expires_at <= NOW() THEN 'expired'\n    ELSE spa.status\n  END as display_status\nFROM safeguard_pending_approvals spa\nWHERE spa.created_at > NOW() - INTERVAL '24 hours'\nORDER BY \n  CASE spa.status WHEN 'pending' THEN 0 ELSE 1 END,\n  spa.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "postgres-get-all-requests",
      "name": "PostgreSQL: Get All Requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 200]
    },
    {
      "parameters": {
        "jsCode": "// Construire le dashboard HTML\nconst requests = $input.first().json || [];\nconst baseUrl = $env.N8N_WEBHOOK_URL || 'http://localhost:5678';\n\nconst pending = requests.filter(r => r.display_status === 'active');\nconst processed = requests.filter(r => r.display_status !== 'active');\n\nfunction formatDate(dateStr) {\n  if (!dateStr) return '-';\n  const d = new Date(dateStr);\n  return d.toLocaleString('fr-FR', { \n    day: '2-digit', month: '2-digit', year: 'numeric',\n    hour: '2-digit', minute: '2-digit'\n  });\n}\n\nfunction formatArgs(args) {\n  if (typeof args === 'string') {\n    try { args = JSON.parse(args); } catch(e) {}\n  }\n  return Object.entries(args || {})\n    .map(([k, v]) => `<strong>${k}:</strong> ${v}`)\n    .join('<br>');\n}\n\nfunction getStatusBadge(status) {\n  const badges = {\n    'active': '<span style=\"background:#ffc107;color:#000;padding:2px 8px;border-radius:4px;\">En attente</span>',\n    'approved': '<span style=\"background:#28a745;color:#fff;padding:2px 8px;border-radius:4px;\">Approuvé</span>',\n    'rejected': '<span style=\"background:#dc3545;color:#fff;padding:2px 8px;border-radius:4px;\">Refusé</span>',\n    'expired': '<span style=\"background:#6c757d;color:#fff;padding:2px 8px;border-radius:4px;\">Expiré</span>'\n  };\n  return badges[status] || status;\n}\n\nfunction renderPendingRow(r) {\n  const approveUrl = `${baseUrl}/webhook/safeguard/approve/${r.approval_id}`;\n  const rejectUrl = `${baseUrl}/webhook/safeguard/reject/${r.approval_id}`;\n  const detailUrl = `${baseUrl}/webhook/human/detail/${r.approval_id}`;\n  \n  return `\n    <tr>\n      <td><a href=\"${detailUrl}\" style=\"color:#007bff;\">${r.approval_id.substring(0, 30)}...</a></td>\n      <td><code>${r.tool_name}</code></td>\n      <td style=\"font-size:0.9em;\">${formatArgs(r.arguments)}</td>\n      <td>${formatDate(r.created_at)}</td>\n      <td>${Math.round(r.minutes_remaining || 0)} min</td>\n      <td>\n        <a href=\"${approveUrl}\" style=\"background:#28a745;color:#fff;padding:5px 10px;text-decoration:none;border-radius:4px;margin-right:5px;\">Approuver</a>\n        <a href=\"${rejectUrl}\" style=\"background:#dc3545;color:#fff;padding:5px 10px;text-decoration:none;border-radius:4px;\">Refuser</a>\n      </td>\n    </tr>\n  `;\n}\n\nfunction renderProcessedRow(r) {\n  return `\n    <tr style=\"opacity:0.7;\">\n      <td>${r.approval_id.substring(0, 30)}...</td>\n      <td><code>${r.tool_name}</code></td>\n      <td>${getStatusBadge(r.display_status)}</td>\n      <td>${formatDate(r.created_at)}</td>\n      <td>${r.approver || '-'}</td>\n      <td>${formatDate(r.decided_at)}</td>\n    </tr>\n  `;\n}\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"refresh\" content=\"30\">\n  <title>WIDIP - Dashboard Validation Humaine</title>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, sans-serif; margin: 0; padding: 20px; background: #f5f5f5; }\n    .container { max-width: 1400px; margin: 0 auto; }\n    h1 { color: #333; border-bottom: 3px solid #007bff; padding-bottom: 10px; }\n    h2 { color: #555; margin-top: 30px; }\n    .stats { display: flex; gap: 20px; margin-bottom: 20px; }\n    .stat-card { background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); text-align: center; min-width: 150px; }\n    .stat-card h3 { margin: 0; font-size: 2em; }\n    .stat-card p { margin: 5px 0 0; color: #666; }\n    .stat-pending h3 { color: #ffc107; }\n    .stat-approved h3 { color: #28a745; }\n    .stat-rejected h3 { color: #dc3545; }\n    table { width: 100%; border-collapse: collapse; background: #fff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    th, td { padding: 12px 15px; text-align: left; border-bottom: 1px solid #eee; }\n    th { background: #007bff; color: #fff; font-weight: 500; }\n    tr:hover { background: #f8f9fa; }\n    code { background: #e9ecef; padding: 2px 6px; border-radius: 3px; font-size: 0.9em; }\n    .empty { text-align: center; padding: 40px; color: #666; }\n    .refresh { float: right; background: #6c757d; color: #fff; padding: 8px 16px; border-radius: 4px; text-decoration: none; }\n    .refresh:hover { background: #5a6268; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <a href=\"${baseUrl}/webhook/human/dashboard\" class=\"refresh\">Actualiser</a>\n    <h1>WIDIP - Dashboard Validation Humaine</h1>\n    \n    <div class=\"stats\">\n      <div class=\"stat-card stat-pending\">\n        <h3>${pending.length}</h3>\n        <p>En attente</p>\n      </div>\n      <div class=\"stat-card stat-approved\">\n        <h3>${processed.filter(r => r.display_status === 'approved').length}</h3>\n        <p>Approuvées (24h)</p>\n      </div>\n      <div class=\"stat-card stat-rejected\">\n        <h3>${processed.filter(r => r.display_status === 'rejected').length}</h3>\n        <p>Refusées (24h)</p>\n      </div>\n    </div>\n    \n    <h2>Demandes en attente</h2>\n    ${pending.length > 0 ? `\n      <table>\n        <thead>\n          <tr>\n            <th>ID</th>\n            <th>Action</th>\n            <th>Paramètres</th>\n            <th>Créée le</th>\n            <th>Expire dans</th>\n            <th>Actions</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${pending.map(renderPendingRow).join('')}\n        </tbody>\n      </table>\n    ` : '<div class=\"empty\">Aucune demande en attente</div>'}\n    \n    <h2>Historique récent (24h)</h2>\n    ${processed.length > 0 ? `\n      <table>\n        <thead>\n          <tr>\n            <th>ID</th>\n            <th>Action</th>\n            <th>Statut</th>\n            <th>Créée le</th>\n            <th>Validateur</th>\n            <th>Décision le</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${processed.map(renderProcessedRow).join('')}\n        </tbody>\n      </table>\n    ` : '<div class=\"empty\">Aucun historique</div>'}\n    \n    <p style=\"text-align:center;color:#999;margin-top:40px;\">Auto-refresh: 30s | WIDIP Human Validation v1</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "id": "code-build-dashboard",
      "name": "Build Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 200]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "id": "respond-dashboard",
      "name": "Respond: Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 200]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "human/detail/:approval_id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-detail",
      "name": "Webhook: Detail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 420],
      "webhookId": "human-validation-detail-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  spa.*,\n  EXTRACT(EPOCH FROM (spa.expires_at - NOW())) / 60 as minutes_remaining\nFROM safeguard_pending_approvals spa\nWHERE spa.approval_id = '{{ $json.params.approval_id }}'\nLIMIT 1;",
        "options": {}
      },
      "id": "postgres-get-detail",
      "name": "PostgreSQL: Get Detail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 420]
    },
    {
      "parameters": {
        "jsCode": "// Construire la page de détail\nconst data = $input.first().json;\nconst request = Array.isArray(data) ? data[0] : data;\nconst baseUrl = $env.N8N_WEBHOOK_URL || 'http://localhost:5678';\n\nif (!request) {\n  return [{ json: { html: '<h1>Demande non trouvée</h1>' } }];\n}\n\nconst approveUrl = `${baseUrl}/webhook/safeguard/approve/${request.approval_id}`;\nconst rejectUrl = `${baseUrl}/webhook/safeguard/reject/${request.approval_id}`;\n\nlet args = request.arguments;\nif (typeof args === 'string') {\n  try { args = JSON.parse(args); } catch(e) {}\n}\n\nfunction formatDate(dateStr) {\n  if (!dateStr) return '-';\n  const d = new Date(dateStr);\n  return d.toLocaleString('fr-FR');\n}\n\nfunction getActionDescription(toolName, args) {\n  const descriptions = {\n    'ad_reset_password': {\n      title: 'Réinitialisation de mot de passe Active Directory',\n      impact: 'Le mot de passe actuel sera remplacé. L\\'utilisateur devra utiliser le nouveau mot de passe.',\n      reversible: 'Non (mais peut être refait manuellement)'\n    },\n    'ad_disable_account': {\n      title: 'Désactivation de compte Active Directory',\n      impact: 'L\\'utilisateur ne pourra plus se connecter. Accès révoqués immédiatement.',\n      reversible: 'Oui (via ad_enable_account)'\n    },\n    'ad_copy_groups_from': {\n      title: 'Copie de groupes Active Directory',\n      impact: 'Les groupes du compte référent seront ajoutés au compte cible.',\n      reversible: 'Partiellement (suppression manuelle des groupes)'\n    },\n    'glpi_close_ticket': {\n      title: 'Clôture de ticket GLPI',\n      impact: 'Le ticket sera marqué comme résolu et fermé.',\n      reversible: 'Oui (réouverture possible)'\n    }\n  };\n  return descriptions[toolName] || { title: toolName, impact: 'Action non documentée', reversible: 'Inconnu' };\n}\n\nconst desc = getActionDescription(request.tool_name, args);\nconst isPending = request.status === 'pending' && (request.minutes_remaining > 0);\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>WIDIP - Détail Validation</title>\n  <style>\n    body { font-family: 'Segoe UI', Tahoma, sans-serif; margin: 0; padding: 20px; background: #f5f5f5; }\n    .container { max-width: 800px; margin: 0 auto; }\n    h1 { color: #333; }\n    .card { background: #fff; border-radius: 8px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .card h2 { margin-top: 0; color: #007bff; border-bottom: 1px solid #eee; padding-bottom: 10px; }\n    .field { margin: 15px 0; }\n    .field label { display: block; font-weight: 600; color: #555; margin-bottom: 5px; }\n    .field .value { background: #f8f9fa; padding: 10px; border-radius: 4px; font-family: monospace; }\n    .warning { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; }\n    .info { background: #d1ecf1; border-left: 4px solid #17a2b8; padding: 15px; margin: 20px 0; }\n    .actions { text-align: center; margin-top: 30px; }\n    .btn { display: inline-block; padding: 15px 40px; text-decoration: none; border-radius: 8px; font-size: 1.1em; margin: 0 10px; }\n    .btn-approve { background: #28a745; color: #fff; }\n    .btn-approve:hover { background: #218838; }\n    .btn-reject { background: #dc3545; color: #fff; }\n    .btn-reject:hover { background: #c82333; }\n    .btn-back { background: #6c757d; color: #fff; }\n    .expired { background: #6c757d; opacity: 0.5; cursor: not-allowed; }\n    code { background: #e9ecef; padding: 2px 6px; border-radius: 3px; }\n    .status-pending { color: #ffc107; font-weight: bold; }\n    .status-approved { color: #28a745; font-weight: bold; }\n    .status-rejected { color: #dc3545; font-weight: bold; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <a href=\"${baseUrl}/webhook/human/dashboard\" style=\"color:#007bff;\">← Retour au dashboard</a>\n    \n    <h1>${desc.title}</h1>\n    \n    <div class=\"card\">\n      <h2>Informations de la demande</h2>\n      \n      <div class=\"field\">\n        <label>ID de demande</label>\n        <div class=\"value\">${request.approval_id}</div>\n      </div>\n      \n      <div class=\"field\">\n        <label>Statut</label>\n        <div class=\"value status-${request.status}\">\n          ${request.status.toUpperCase()}\n          ${isPending ? ` (expire dans ${Math.round(request.minutes_remaining)} minutes)` : ''}\n        </div>\n      </div>\n      \n      <div class=\"field\">\n        <label>Niveau de sécurité</label>\n        <div class=\"value\">${request.security_level} - Action sensible nécessitant validation humaine</div>\n      </div>\n      \n      <div class=\"field\">\n        <label>Créée le</label>\n        <div class=\"value\">${formatDate(request.created_at)}</div>\n      </div>\n      \n      <div class=\"field\">\n        <label>Source</label>\n        <div class=\"value\">Workflow: ${request.requester_workflow} | IP: ${request.requester_ip}</div>\n      </div>\n    </div>\n    \n    <div class=\"card\">\n      <h2>Paramètres de l'action</h2>\n      \n      <div class=\"field\">\n        <label>Outil appelé</label>\n        <div class=\"value\"><code>${request.tool_name}</code></div>\n      </div>\n      \n      <div class=\"field\">\n        <label>Arguments</label>\n        <div class=\"value\">\n          <pre>${JSON.stringify(args, null, 2)}</pre>\n        </div>\n      </div>\n    </div>\n    \n    <div class=\"warning\">\n      <strong>Impact de cette action:</strong><br>\n      ${desc.impact}\n    </div>\n    \n    <div class=\"info\">\n      <strong>Réversibilité:</strong> ${desc.reversible}\n    </div>\n    \n    ${isPending ? `\n      <div class=\"actions\">\n        <a href=\"${approveUrl}\" class=\"btn btn-approve\" onclick=\"return confirm('Confirmer l\\\\'approbation ?')\">Approuver cette action</a>\n        <a href=\"${rejectUrl}\" class=\"btn btn-reject\" onclick=\"return confirm('Confirmer le refus ?')\">Refuser cette action</a>\n      </div>\n    ` : `\n      <div class=\"card\">\n        <h2>Décision</h2>\n        <p><strong>Statut:</strong> ${request.status}</p>\n        <p><strong>Décidé par:</strong> ${request.approver || '-'}</p>\n        <p><strong>Date:</strong> ${formatDate(request.decided_at)}</p>\n        ${request.approval_reason ? `<p><strong>Raison:</strong> ${request.approval_reason}</p>` : ''}\n      </div>\n    `}\n    \n    <div style=\"text-align:center;margin-top:30px;\">\n      <a href=\"${baseUrl}/webhook/human/dashboard\" class=\"btn btn-back\">Retour au dashboard</a>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "id": "code-build-detail",
      "name": "Build Detail HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 420]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "id": "respond-detail",
      "name": "Respond: Detail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 420]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "human/notify-teams",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-notify-teams",
      "name": "Webhook: Notify Teams",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 640],
      "webhookId": "human-validation-notify-teams-v1"
    },
    {
      "parameters": {
        "jsCode": "// Construire la notification Teams Adaptive Card\nconst body = $input.first().json.body || $input.first().json;\nconst baseUrl = $env.N8N_WEBHOOK_URL || 'http://localhost:5678';\nconst dashboardUrl = $env.SAFEGUARD_DASHBOARD_URL || `${baseUrl}/webhook/human/dashboard`;\n\nconst approveUrl = `${baseUrl}/webhook/safeguard/approve/${body.approval_id}`;\nconst rejectUrl = `${baseUrl}/webhook/safeguard/reject/${body.approval_id}`;\nconst detailUrl = `${baseUrl}/webhook/human/detail/${body.approval_id}`;\n\nfunction getActionDescription(toolName) {\n  const desc = {\n    'ad_reset_password': 'Réinitialisation mot de passe AD',\n    'ad_disable_account': 'Désactivation compte AD',\n    'ad_copy_groups_from': 'Copie de groupes AD',\n    'glpi_close_ticket': 'Clôture ticket GLPI'\n  };\n  return desc[toolName] || toolName;\n}\n\nlet args = body.arguments || {};\nif (typeof args === 'string') {\n  try { args = JSON.parse(args); } catch(e) {}\n}\n\n// Format arguments for display\nconst argsDisplay = Object.entries(args)\n  .map(([k, v]) => `**${k}:** ${v}`)\n  .join('\\n\\n');\n\n// Teams Adaptive Card format\nconst teamsCard = {\n  \"type\": \"message\",\n  \"attachments\": [\n    {\n      \"contentType\": \"application/vnd.microsoft.card.adaptive\",\n      \"content\": {\n        \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n        \"type\": \"AdaptiveCard\",\n        \"version\": \"1.4\",\n        \"msteams\": {\n          \"width\": \"Full\"\n        },\n        \"body\": [\n          {\n            \"type\": \"Container\",\n            \"style\": \"attention\",\n            \"items\": [\n              {\n                \"type\": \"TextBlock\",\n                \"text\": \"SAFEGUARD - Validation Requise\",\n                \"weight\": \"Bolder\",\n                \"size\": \"Large\",\n                \"color\": \"Attention\"\n              }\n            ]\n          },\n          {\n            \"type\": \"FactSet\",\n            \"facts\": [\n              {\n                \"title\": \"Action:\",\n                \"value\": getActionDescription(body.tool_name)\n              },\n              {\n                \"title\": \"Niveau:\",\n                \"value\": `${body.security_level || 'L3'} (Sensible)`\n              },\n              {\n                \"title\": \"ID:\",\n                \"value\": body.approval_id\n              },\n              {\n                \"title\": \"Expire:\",\n                \"value\": body.expires_at || 'Dans 1 heure'\n              }\n            ]\n          },\n          {\n            \"type\": \"TextBlock\",\n            \"text\": \"Paramètres:\",\n            \"weight\": \"Bolder\",\n            \"spacing\": \"Medium\"\n          },\n          {\n            \"type\": \"TextBlock\",\n            \"text\": argsDisplay,\n            \"wrap\": true,\n            \"fontType\": \"Monospace\"\n          },\n          {\n            \"type\": \"TextBlock\",\n            \"text\": body.description || '',\n            \"wrap\": true,\n            \"spacing\": \"Medium\"\n          }\n        ],\n        \"actions\": [\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"Voir détails\",\n            \"url\": detailUrl\n          },\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"Approuver\",\n            \"url\": approveUrl,\n            \"style\": \"positive\"\n          },\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"Refuser\",\n            \"url\": rejectUrl,\n            \"style\": \"destructive\"\n          },\n          {\n            \"type\": \"Action.OpenUrl\",\n            \"title\": \"Dashboard\",\n            \"url\": dashboardUrl\n          }\n        ]\n      }\n    }\n  ]\n};\n\nreturn [{ json: { teamsCard, approval_id: body.approval_id } }];"
      },
      "id": "code-build-teams-card",
      "name": "Build Teams Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 640]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.teamsCard) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-send-teams",
      "name": "Send Teams Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 640],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"approval_id\": \"{{ $('Build Teams Card').item.json.approval_id }}\",\n  \"message\": \"Notification Teams envoyée\"\n}",
        "options": {}
      },
      "id": "respond-notify-teams",
      "name": "Respond: Notified",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 640]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "human/stats",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-stats",
      "name": "Webhook: Stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 860],
      "webhookId": "human-validation-stats-v1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  -- Stats globales\n  COUNT(*) FILTER (WHERE status = 'pending' AND expires_at > NOW()) as pending_count,\n  COUNT(*) FILTER (WHERE status = 'approved') as approved_count,\n  COUNT(*) FILTER (WHERE status = 'rejected') as rejected_count,\n  COUNT(*) FILTER (WHERE status = 'expired' OR (status = 'pending' AND expires_at <= NOW())) as expired_count,\n  \n  -- Stats dernières 24h\n  COUNT(*) FILTER (WHERE created_at > NOW() - INTERVAL '24 hours') as requests_24h,\n  COUNT(*) FILTER (WHERE status = 'approved' AND decided_at > NOW() - INTERVAL '24 hours') as approved_24h,\n  COUNT(*) FILTER (WHERE status = 'rejected' AND decided_at > NOW() - INTERVAL '24 hours') as rejected_24h,\n  \n  -- Temps de réponse moyen\n  AVG(EXTRACT(EPOCH FROM (decided_at - created_at))) FILTER (WHERE decided_at IS NOT NULL AND created_at > NOW() - INTERVAL '7 days') as avg_response_time_seconds,\n  \n  -- Top tools\n  (\n    SELECT json_agg(tool_stats)\n    FROM (\n      SELECT tool_name, COUNT(*) as count\n      FROM safeguard_pending_approvals\n      WHERE created_at > NOW() - INTERVAL '30 days'\n      GROUP BY tool_name\n      ORDER BY count DESC\n      LIMIT 5\n    ) tool_stats\n  ) as top_tools_30d\n  \nFROM safeguard_pending_approvals;",
        "options": {}
      },
      "id": "postgres-get-stats",
      "name": "PostgreSQL: Get Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [420, 860]
    }
  ],
  "connections": {
    "Webhook: Dashboard": {
      "main": [
        [
          {
            "node": "PostgreSQL: Get All Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Get All Requests": {
      "main": [
        [
          {
            "node": "Build Dashboard HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dashboard HTML": {
      "main": [
        [
          {
            "node": "Respond: Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Detail": {
      "main": [
        [
          {
            "node": "PostgreSQL: Get Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Get Detail": {
      "main": [
        [
          {
            "node": "Build Detail HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Detail HTML": {
      "main": [
        [
          {
            "node": "Respond: Detail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Notify Teams": {
      "main": [
        [
          {
            "node": "Build Teams Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Teams Card": {
      "main": [
        [
          {
            "node": "Send Teams Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Teams Notification": {
      "main": [
        [
          {
            "node": "Respond: Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Stats": {
      "main": [
        [
          {
            "node": "PostgreSQL: Get Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "human-validation-v1-20251223",
  "meta": {
    "instanceId": "widip-human-validation-v1"
  },
  "id": "WIDIP_Human_Validation_v1",
  "tags": [
    {
      "name": "WIDIP",
      "createdAt": "2025-12-23T00:00:00.000Z",
      "updatedAt": "2025-12-23T00:00:00.000Z"
    },
    {
      "name": "HITL",
      "createdAt": "2025-12-23T00:00:00.000Z",
      "updatedAt": "2025-12-23T00:00:00.000Z"
    },
    {
      "name": "Phibee",
      "createdAt": "2025-12-23T00:00:00.000Z",
      "updatedAt": "2025-12-23T00:00:00.000Z"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2025-12-23T18:00:00.000Z"
}
